body {
    background: radial-gradient(#5C0A0A, #000000);

}

* {
    color: #8b0000;
    -webkit-text-stroke: .8px #B70C0C;

}

em {
    color: #000000;
}

#git_p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color: #000000;
    word-spacing: 20px;
}


.first_step {
    font-family: 'Courier New', Courier, monospace;
    color: #C84D4D;
}

main h3 {
    color: #000000;
    margin: 5px;

}

header a:hover {
    font-size: 200%;
}

header a:visited {
    color: #C84D4D;
}

#simon {
    border: dotted #8b0000;
    padding: 20px;
}

article {
    column-count: 2;
    column-gap: 35px;
    column-rule: 2px solid #000000;
    padding: 30px;
}

ul.star {
    list-style-image: url("../my-website/images/star.png");
}

/* Navigation Menu */

#nav_menu {
    padding-bottom: 2em;
    margin: auto;
    width: 600px;
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: #5C0A0A;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

#nav_menu ul li a:hover {
    background-color: #AA1F1F;
}


#nav_menu ul li a.lastitem {
    border-right: none;
}


main {
    clear: left;
}