body {
    background-color: #F7C9BE;
}

* {
    color: darkred;
}

em {
    color: black
}

#git_p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: x-large;
}


.first_step {
    font-family: 'Courier New', Courier, monospace
}