body {
    background: radial-gradient(#5C0A0A, #000000);
}

/*small note, the google font thing was only applied to text that doesn't already have a font set to it*/
* {
    color: #8b0000;
    -webkit-text-stroke: .8px #B70C0C;
    font-family: "Open Sans", sans-serif;
}

/* finalized font size */
p {
    font-size: 115%;
}

em {
    color: #000000;
}

#git_p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color: #000000;
    word-spacing: 20px;
}


.first_step {
    font-family: 'Courier New', Courier, monospace;
    color: #C84D4D;
}

main h3 {
    color: #000000;
    margin: 5px;

}

header a:hover {
    font-size: 200%;
}

header a:visited {
    color: #C84D4D;
}


#simon {
    border: dotted #8b0000;
    padding: .5%;
    width: 30%;
}

img {
    border: dotted #8b0000;
    padding: .5%;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}


/* Navigation Menu */

#nav_menu {
    padding-bottom: 2em;
    margin: auto;
    width: 75%;
}

#nav_menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#nav_menu ul li {
    flex-basis: 33%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #5C0A0A;
    color: white;
    font-weight: bold;

}

#nav_menu ul li a:hover {
    background-color: #AA1F1F;
}


#nav_menu ul li a.lastitem {
    border-right: none;
}


header {
    grid-area: head;
}


.boss {
    width: 25%;
}

.enemies {
    width: 25%;
}

.ending {
    width: 40%;
}


div h1 {
    grid-area: header;
    display: grid;
    grid-gap: 5px;
}

main h3 {
    display: flex;
    flex-direction: row;
}

/* transition */
#nav_menu ul li a {
    transition: transform 0.3s ease-in-out;
}

/* defining hover affect */
#nav_menu ul li a:hover {
    transform: translateY(-5px);
}


#nav_menu ul li a {
    border-bottom: 2px solid white;
    border-right: none;


}

i {
    font-size: 1.5em;
    padding: 2%;
    color: #ffffff;
}

main,
header,
article {
    border: 2px solid #8b0000;
    padding: 30px;
    margin: 10px;
}

/* BOSS PAGE */
.boss-container {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-bottom: 20px;
}

.boss-info {
    text-align: center;
}

/*ENDINGS PAGE*/
.endings-container {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-bottom: 20px;
}

.endings-info {
    text-align: center;
    max-width: calc(100% - 20px);
    margin: 0 auto;
}

/*the query below minimizes the size of the hovered link when the window is minimized */
@media only screen and (max-width: 640px) {
    header a:hover {
        font-size: 140%;
    }
}

@media only screen and (max-width: 700) {
    main h3 {

        flex-direction: row;
    }
}

@media screen and (max-width: 740px) {
    #nav_menu ul {
        flex-direction: column;
    }

    #nav_menu ul li {
        flex-basis: auto;
    }
}

@media only screen and (max-width: 768px) {
    /* Styles for smaller devices */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
}

@media only screen and (min-width: 1024px) {
    /* Styles for larger screens */
}

@media only screen and (max-width: 650px) {
    img {
        min-width: 150px;
        width: 100%;
        max-width: 175px;
    }
}